/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/public/
/web/media/
!web/media/.htaccess
!web/public/.htaccess

# IDE settings
.buildpath
.externalToolBuilders/
.project
.settings/
.idea
.vscode

# Security LUL
!var/jwt

# Excluding unwanted files
.DS_Store

*~

# node files
/node_modules
/web/build
/app/Resources/webpack
