{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ article.title }}</h1>
        <hr/>
        <img src="{{ article.image }}"/>
        <p>{{ article.content }}</p>
    </div>
{% endblock %}
