{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        <div>
            <h2><a class="spinnable" href="{{ path('article_detail', {id: article.id}) }}">{{ article.title }}</a></h2>
            <p>
                {{ article.content[0:150] }}
                {% if article.content|length > 150 %}...{% endif %}
            </p>
        </div>
    {% endfor %}

    {{ include('@Blog/Pagination/_pagination.html.twig') }}

{% endblock %}
