<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wheels!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/styles.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favi.gif') }}" />
    </head>
    <body>
        <div id="background-image"></div>
        <div class="content">
            {{ react_component('BlogApp', {'props': props}) }}
        </div>
        <div class='cancer-container'>
            {#<iframe width="0" height="0" src="https://www.youtube.com/embed/RmJCKRJx9Dc?autoplay=1&loop=1" frameborder="0"></iframe>#}
        </div>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
