@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//@import "~bootstrap/scss/bootstrap";

.main-container {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  max-width: 1240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-container {
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#background-image {
  background: url("../images/spin.gif") repeat;
  display: block;
  height: 1980px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}

#background-snoop {
  background: url("../images/snoop.gif") repeat;
  display: block;
  height: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 10px;
  left: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  right: 0;
  z-index: 2;
  padding: 16px;
  max-width: 1280px;
  display: block;
}

.form-inline {
  display: inline-flex;
}

.navbar-default {
  margin-bottom: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}

.jumbotron {
  background-color: transparent;
}

.navbar-right {
  padding-right: 15px;
}


.modal-backdrop {
  z-index: 1;
}

.navbar-default .navbar-brand.active {
  color: saddlebrown;
}

.animation-hue-item {
  animation-name: animation-hue-rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}

@keyframes animation-hue-rotate {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(360deg);}
}

.animation-scroll-item {
  animation-name: animation-scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}

@keyframes animation-scroll {
  from {left: -290px;}
  to {left: 0;}
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.category-dropdown-container {
  padding-top: 8px;
}

a {
  transition: all 0.5s ease;
}

a:hover {
  transform: rotate(360deg);
  z-index: 1000;
}
